model: Qwen/Qwen3-4B-Instruct-2507
vllm_runtime_config: configs/vllm_config/local_python.yaml
vllm_server_args:
  - "--max-model-len"
  - "8192"
  - "--gpu-memory-utilization"
  - "0.95"
  - "--max-num-batched-tokens"
  - "65536"
  - "--disable-uvicorn-access-log"
  - "--generation-config"
  - "vllm"
scenario_override:
  temperature: 0.7
  top_k: 20
  top_p: 0.8
  max_tokens: 4096
